---
const { title } = Astro.props;
import { Image } from 'astro:assets';
import logoCOBAK from '../assets/cobak-logo-216-resplandor2.png';
import favIcon from '../assets/favicon.ico';

---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Oficinas Virtuales en Mexicali - COBAK. Promoción especial: Paga 5 meses y obtén el 6to GRATIS. Servicios profesionales de dirección comercial, atención telefónica y más." />
    <link rel="icon" type="image/svg+xml" href={favIcon} />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"> -->
    <title>{title}</title>
  </head>
  <body>
    <div class="md:fixed px-2 md:ml-0 lg:pl-20 lg:pt-8 top-0 md:left-0 md:px-8 z-50">
      <Image src={logoCOBAK}  width="200" height="63" alt="COBAK page logo" class="h-[40px] w-auto mx-auto sm:h-auto md:ml-0" />       
    </div>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --primary: #A31C15;
    --secondary: #686868;
    --terceary:#e47974;
  }

  body {
    font-family: 'Inter', sans-serif;
  }
  .logo-image {
    width: 180px;
    height: auto;
  }
</style>